stuff.md
.idea/Recommender.iml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
Recommender.iml
PeGRec/.idea/compiler.xml
PeGRec/.idea/copyright/profiles_settings.xml
PeGRec/.idea/misc.xml
PeGRec/.idea/modules.xml
PeGRec/.idea/workspace.xml
PeGRec/PeGRec.iml
